
███████╗███████╗███╗   ██╗████████╗██╗   ██╗     ██████╗██╗  ██╗███████╗ ██████╗██╗  ██╗███████╗██████╗ 
╚══███╔╝██╔════╝████╗  ██║╚══██╔══╝╚██╗ ██╔╝    ██╔════╝██║  ██║██╔════╝██╔════╝██║ ██╔╝██╔════╝██╔══██╗
  ███╔╝ █████╗  ██╔██╗ ██║   ██║    ╚████╔╝     ██║     ███████║█████╗  ██║     █████╔╝ █████╗  ██████╔╝
 ███╔╝  ██╔══╝  ██║╚██╗██║   ██║     ╚██╔╝      ██║     ██╔══██║██╔══╝  ██║     ██╔═██╗ ██╔══╝  ██╔══██╗
███████╗███████╗██║ ╚████║   ██║      ██║       ╚██████╗██║  ██║███████╗╚██████╗██║  ██╗███████╗██║  ██║
╚══════╝╚══════╝╚═╝  ╚═══╝   ╚═╝      ╚═╝        ╚═════╝╚═╝  ╚═╝╚══════╝ ╚═════╝╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝


You need the following libraries for the checker...

You can install the libraries in CMD.

Open CMD and paste the following pip-commands bit by bit.


Colorama:

pip install colorama


Request Future:

pip install requests-futures


Console:

pip install console